<div class="page__footer-follow">
  <ul class="social-icons">
    <li class="page__footer-copyright"> &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    {% if site.data.ui-text[site.locale].follow_label %}
      <li> Social: </li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="me"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> </a></li>
    {% endunless %}

    <li> &nbsp;&nbsp;&nbsp;&nbsp; Antisocial: </li>
    <li><a href="https://twitter.com/jpmattia"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a></li>

  </ul>
</div>

